@charset "UTF-8";
body.blog { background-color: #f8f8f8; font-family: "Ubuntu", sans-serif; font-size: 100%; line-height: 1.5em; text-shadow: #fff 0px 1px 0px; }

@media (min-width: 768px) {
	.blog .cell { display: table-cell; vertical-align: top; }
	.blog .cell.big-navigation { display: block; vertical-align: top; }
	.blog .cell.small-navigation { display: none; vertical-align: top; }
	.blog .table { display: table; overflow-wrap: break-word; table-layout: fixed; width: 100%; }
	.blog .table-column.auto { display: table-column; width: auto; }
	.blog .table-column.large { display: table-column; width: 50%; }
	.blog .table-column.small { display: table-column; width: 20%; }
	.blog .table-column.tiny { display: table-column; width: 5%; }
}

@media (max-width: 768px) {
	.blog .cell { display: block; vertical-align: top; }
	.blog .cell.big-navigation { display: none; vertical-align: top; }
	.blog .cell.small-navigation { display: block; vertical-align: top; }
	.blog .table { display: block; overflow-wrap: break-word; table-layout: fixed; width: 100%; }
	.blog .table-column.auto { display: block; }
	.blog .table-column.large { display: block; }
	.blog .table-column.small { display: block; }
	.blog .table-column.tiny { display: block; }
}

.blog pre { white-space: pre-wrap; word-wrap: break-word; }
